<!DOCTYPE html>
<HTML lang="en">

<head>
	<link rel="stylesheet" type="text/css" href="/static/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="/static/bootstrap-theme.css">
	<link rel="stylesheet" type="text/css" href="/static/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>

<body>
<div id="overlay" style="background-color: #000"> </div>
<nav class="navbar" style="background-color:#981e32;" >
	<div class="container-fluid">
		<div class="navbar-header" style="background-color: #FFF;">
			<div class="navbar-brand" style="height: 100%; min-height: 100%; max-height: 100%; padding: 0px;"> 
				<img src="/media/decoration/logo.png"/> 
			</div>
		</div>
		<div class= "navbar-right" style="font-size: 19px; position:absolute;bottom:0;right:0; margin-right: 25px; color:#FFF" >
			{% if user.is_authenticated %}
				Welcome <a href="{% url 'view_profile' user %}"> {{ user }}! </a><a href="{% url 'logout' %}"> Logout </a>
			{% else %}
				Welcome Guest! <a href="{% url 'login' %}"> Login </a> or <a href="{% url 'register' %}"> Register </a>
			{% endif %}
		</div>
	</div>
</nav>
<div class="container-fluid">
	<div class="col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-1 left-nav">
		<div class="text-right" style="margin-top:150px; font-size:19px;">
			<a class="col-md-12 col-lg-12" href="{% url 'home' %}"> Home </a>
			<a class="col-md-12 col-lg-12" href="{% url 'gallery' %}"> Gallery </a>
			<a class="col-md-12 col-lg-12" href="{% url 'index' %}"> Upload Image </a>
			{% if user.is_custom_admin and user.is_authenticated %}
			<a class="col-md-12 col-lg-12" href="{% url 'adminPage' %}"> Admin Page </a>
			{% endif %}
		</div>
	</div>
	<div class="col-md-9 col-lg-9 content" style="background-color: #FFF; padding-top:25px; padding-bottom:25px;">
		{% block content %}
		{% endblock %}
	</div>
</div>

</body>


</HTML>
