{% extends "base/newbase.html" %}
{% load comments %}
{% block content %}

<div class="row">
	<div class="col-lg-9">
		<p><img  class="img-responsive" src="{{ picture.pic.url }}" alt="{{ picture.pic.url}}" align = "middle" id ="mainPicture" /> </p>
		<p> Click Image for Timeline slideshow </p>
		<div class="well col-md-12" id="timelineContainer">
			<div id="timelineLeftArrow" class="col-md-1"> </div>
			{% for picture in pictures %}
				<div class="col-md-2"><img class="img-responsive" src="{{ picture.pic.url}}" /> {{ picture.vr}}, {{picture.uploaded}} </div>
			{% endfor %}
			<div id="timelineRightArrow" class="col-md-1"> </div>
		</div>

	<!-- {% for picture in pictures %}
		<div class="col-lg-3 thumb">
			<a href="{% url 'view_picture' picId=picture.id %}"> <img class="img-thumbnail" src="{{ picture.pic.url }}" alt="{{ picture.pic.url}}" /> </a>
			<div class="col-lg-12">
				<article class="col-lg-12"> Date: {{ picture.uploaded }} </article>
				<div class="col-lg-12"> VR: {{picture.vr }} </div>
				<article class="col-lg-12"> uploaded by: <a href="{% url 'view_profile' name=picture.user %}"> {{ picture.user }} </a> </article>
				
			</div>
		</div>
	{% endfor %} -->
	</div>
	<div class="col-lg-3"> 
		<table class="table table-striped">
			<tr>
				<td> Visual Range </td>
				<td> {{ picture.vr }} </td>
			</tr>
			<tr>
				<td> User </td>
				<td> <a href="{% url 'view_profile' name=picture.user %}"> {{ picture.user }} </a> </td>
			</tr>
			<tr>
				<td> Description </td>
				<td> {{ picture.description }} </td>
			</tr>
			<tr>
				<td> Location </td>
				<td> {{ tag.text }} </td>
			</tr>
		</table>
	</div>

	</div>
	<div class="col-lg-2"> 
	</div>


	<div class="col-lg-12">
		<a name="comment_start"></a>

		<div class = "comment_form">

			{% if user.is_authenticated %}
			{% get_comment_form for convos as form %}
			<form action = "{% comment_form_target %}" method="POST">
			{% csrf_token %}


			{{ form.comment }}


			{{ form.content_type }}
			{{ form.object_pk }}
			{{ form.timestamp }}
			{{ form.security_hash }}


			<input type ="hidden" name="name" value = "{{ user }}">
			<input type ="hidden" name="email" value = "nothing@gmail.com">
			<input type ="hidden" name="url" value = "https://www.nothing.com">

			<input type = "hidden" name = "next" 
			value="{{ theURL }}#comment_start">
			<p><input type = "submit" value= "Add comment" id="id_submit" /></p>
			</form>

			{% else %}

			<p> Please log in to comment </p>

			{% endif %}
		</div>

		<H2 class="col-lg-12">Comments: </H2>


		{% get_comment_list for convos as comment_list %}
		{% for comment in comment_list reversed %}


		{% if comment.id|divisibleby:2 %}
		<div class = "col-lg-12 commentRow">
			<p class="col-lg-12"> Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
			<p class="col-lg-12">{{ comment.comment }} </p>
		</div>	
		{% else %}
		<div class = "col-lg-12 commentRow2">
			<p class="col-lg-12"> Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
			<p class="col-lg-12">{{ comment.comment }} </p>
		</div>	
		{% endif %}


		{% endfor %}
	</div>
</div>


<!-- begin weird timeline slideshow stuff -->
<div class="slideShowContainer" id="slideShowContainer">
	<div id="slideShowMainPicture"> 
		<div id="slideShowBottomInfoPanel"> 
			<table class="table">
			<thead>
				<th> Date </th>
				<th> Location </th>
				<th> Visual Range </th>
				<th> Description </th>
			</thead>
			</tr>
				<td id="slideShowDate">{{ picture.uploaded }}</td>
				<td id="slideShowLocation"> {{tag.text}} </td>
				<td id="slideShowVr"> {{ picture.vr }}</td>
				<td id="slideShowDesc"> {{ picture.description }}</td>
			</tr>
			</table>
		</div>
	</div>
	<div id="slideShowLeftNavArrow"> </div>
	<div id="slideShowRightNavArrow"> </div>
</div>


<script type="text/javascript">

var pictures = [];
var starting_index = 0;
var currentIndex = 0;
// FIX THIS, IT SHOULD BE A JSON OBJECT SENT FROM THE VIEW!!! (but it works for now :D )
{% for picture in pictures %}
	pictures.push(new picture ({{picture.id}}, "{{picture.uploaded}}",{{picture.vr}}, "{{picture.description}}", "{{picture.pic.url}}"));
{% endfor %}

function picture (id, date, vr, description, url){

	this.id = id;
	this.date = date;
	this.vr= vr;
	this.description = description;
	this.url = url;
}

function fadeScreen(){
	$('#overlay').slideDown( function(){ 	$("#slideShowContainer").fadeIn(); });

}

function fadeBack(){

	$('#slideShowContainer').fadeOut( function(){ 
		$("#overlay").slideUp(); 
		currentIndex=starting_index;
		$('#slideShowMainPicture').css('background-image', 'url('+String(pictures[currentIndex].url)+')');
	});
	

}
function findStartingIndex()
{
	var currentPicid = {{ picture.id }}
	for(var i = 0; i < pictures.length; i++)
	{
		if(currentPicid == pictures[i].id)
		{
			starting_index = i;
		}
	}
}
function moveLeft()
{
	if(currentIndex == 0)
	{
		currentIndex = pictures.length - 1;
	}
	else
	{
		currentIndex = currentIndex - 1;
	}

	$('#slideShowContainer').fadeOut(function(){
		$('#slideShowMainPicture').css('background-image', 'url('+String(pictures[currentIndex].url)+')');
		updateTable();
		$('#slideShowContainer').fadeIn(500);
	});
}
function moveRight()
{
	if(currentIndex == pictures.length-1)
	{
		currentIndex = 0;
	}
	else
	{
		currentIndex = currentIndex + 1;
	}

	$('#slideShowContainer').fadeOut(function(){
		$('#slideShowMainPicture').css('background-image', 'url('+String(pictures[currentIndex].url)+')');
		updateTable();
		$('#slideShowContainer').fadeIn(500);
	});
}

function updateTable()
{
	$('#slideShowDate').html(String(pictures[currentIndex].date));
	$('#slideShowVr').html(String(pictures[currentIndex].vr));
	$('#slideShowDesc').html(String(pictures[currentIndex].description));
}

$(document).ready(function(){
	findStartingIndex();
	currentIndex=starting_index;
	$("#slideShowMainPicture").css('background-image', "url("+String(pictures[starting_index].url)+")");
	hidden = false;
	$('#mainPicture').click(function(){
		if (hidden == false)
		{
			fadeScreen();
			hidden=true;
		}
	});

	$('#overlay').click(function(){
		if(hidden == true)
		{
			fadeBack();
			hidden=false;
		}
	});
	$('#slideShowLeftNavArrow').click(function(){
		moveLeft();
	});
	$('#slideShowRightNavArrow').click(function(){
		moveRight();
	});
});

</script>
{% endblock %}