{% extends "base/newbase.html" %}
{% load comments %}
{% block content %}

<div class="row">
	<div class="col-lg-9">
		<body>
		<p><img  class="img-responsive" src="{{ picture.pic.url }}" alt="{{ picture.pic.url}}" align = "middle" id ="pictureFunk" >
		

	{% for picture in pictures %}
		<div class="col-lg-3 thumb">
			<a href="{% url 'view_picture' picId=picture.id %}"> <img class="img-thumbnail" src="{{ picture.pic.url }}" alt="{{ picture.pic.url}}" /> </a>
			<div class="col-lg-12">
				<article class="col-lg-12"> Date: {{ picture.uploaded }} </article>
				<div class="col-lg-12"> VR: {{picture.vr }} </div>
				<article class="col-lg-12"> uploaded by: <a href="{% url 'view_profile' name=picture.user %}"> {{ picture.user }} </a> </article>
				
			</div>
		</div>
	{% endfor %}

		<body>
	</div>
	<div class="col-lg-3"> 
		<table class="table table-striped">
			<tr>
				<td> Visual Range </td>
				<td> {{ picture.vr }} </td>
			</tr>
			<tr>
				<td> User </td>
				<td> <a href="{% url 'view_profile' name=picture.user %}"> {{ picture.user }} </a> </td>
			</tr>
			<tr>
				<td> Description </td>
				<td> {{ picture.description }} </td>
			</tr>
			<tr>
				<td> Location </td>
				<td> {{ tag.text }} </td>
			</tr>

			<tr>
				<td> 

    				{% if pictures == None %}
					<form action="{{ theURL }}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<p><input type = "submit" value= "Pictures of same Location" id="id_locate" /></p>
					</form>
					</p>
					{% endif %}

				 </td>
			
			</tr>
		</table>
	</div>

	</div>
	<div class="col-lg-2"> 


    				{% if pictures == None %}
					<form action="{{ theURL }}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<p><input type = "submit" value= "Pictures of same Location" id="id_locate" /></p>
					</form>
					</p>
					{% endif %}

		</div>


	<div class="col-lg-12">
		<a name="comment_start"></a>

		<div class = "comment_form">

			{% if user.is_authenticated %}
			{% get_comment_form for convos as form %}
			<form action = "{% comment_form_target %}" method="POST">
			{% csrf_token %}


			{{ form.comment }}


			{{ form.content_type }}
			{{ form.object_pk }}
			{{ form.timestamp }}
			{{ form.security_hash }}


			<input type ="hidden" name="name" value = "{{ user }}">
			<input type ="hidden" name="email" value = "nothing@gmail.com">
			<input type ="hidden" name="url" value = "https://www.nothing.com">

			<input type = "hidden" name = "next" 
			value="{{ theURL }}#comment_start">
			<p><input type = "submit" value= "Add comment" id="id_submit" /></p>
			</form>

			{% else %}

			<p> Please log in to comment </p>

			{% endif %}
		</div>

		<H2 class="col-lg-12">Comments: </H2>


		{% get_comment_list for convos as comment_list %}
		{% for comment in comment_list reversed %}


		{% if comment.id|divisibleby:2 %}
		<div class = "col-lg-12 commentRow">
			<p class="col-lg-12"> Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
			<p class="col-lg-12">{{ comment.comment }} </p>
		</div>	
		{% else %}
		<div class = "col-lg-12 commentRow2">
			<p class="col-lg-12"> Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>
			<p class="col-lg-12">{{ comment.comment }} </p>
		</div>	
		{% endif %}


		{% endfor %}
	</div>
</div>

{% endblock %}