{% extends "base/newbase.html" %}
{% load comments %}
{% block content %}
{% if picture %}



<p><img src="{{ picture.pic.url }}" alt="{{ picture.pic.url}}" align = "middle" id ="pictureFunk" ></p>                        

{% else %}
        <p>No image To display</p>
{% endif %}


<a name="comment_start"></a>

<div class = "comment_form">

{% if user.is_authenticated %}
{% get_comment_form for convos as form %}
<form action = "{% comment_form_target %}" method="POST">
{% csrf_token %}


{{ form.comment }}


{{ form.content_type }}
{{ form.object_pk }}
{{ form.timestamp }}
{{ form.security_hash }}


<input type ="hidden" name="name" value = "{{ user }}"/>
<input type ="hidden" name="email" value = "nothing@gmail.com"/>
<input type ="hidden" name="url" value = "https://www.nothing.com"/>

<input type = "hidden" name = "next" 
value="/convos/{{ convo_id }}/#comment_start">
<p><input type = "submit" value= "Add comment" id="id_submit" /></p>
</form>

{% else %}

<p> Please log in to comment </p>

{% endif %}
</div>

<p> <H2>Comments: </H2> </p>


{% get_comment_list for convos as comment_list %}
{% for comment in comment_list reversed %}


{% if comment.id|divisibleby:2 %}
<div class = "commentRow">
{% else %}
<div class = "commentRow2">
{% endif %}

<P> Posted by: {{ comment.user_name }} on {{ comment.submit_date }}</p>

		<P>    {{ comment.comment }} </P>


</div>	


{% endfor %}

{% endblock %}