{% extends "base/newbase.html" %}
{% block content %}
<div class="row">
	<h1 class="col-lg-12">Gallery</h1>
	<div class="col-lg-12"> sort by: 
		{% if sort == "dated" %}
			<a href="{% url 'gallery' sort='dateu' page=1 %}"> date&#x25B2;</a> 
		{% else %}
			<a href="{% url 'gallery' sort='dated' page=1 %}"> date&#x25BC;</a>
		{% endif %} 
			| 
		{% if sort == "vrd" %}
			<a href="{% url 'gallery' sort='vru' page=1 %}"> vr&#x25B2; </a>
		{% else %}
			<a href="{% url 'gallery' sort='vrd' page=1 %}"> vr&#x25BC; </a>
		{% endif %}
		</div>
	{% for picture in pictures %}
		<div class="col-lg-3 thumb">
			<a href="{% url 'view_picture' picId=picture.id %}"> <img class="img-thumbnail" src="{{ picture.pic.url }}" alt="{{ picture.pic.url}}" /> </a>
			<div class="col-lg-12">
				<article class="col-lg-12"> Date: {{ picture.uploaded }} </article>
				<div class="col-lg-12"> VR: {{picture.vr }} </div>
				<article class="col-lg-12"> uploaded by: <a href="{% url 'view_profile' name=picture.user %}"> {{ picture.user }} </a> </article>
				
			</div>
		</div>
	{% endfor %}

	<div class= "col-lg-12">
		<ul class="pagination">
			{% if pictures.number != 1 %}
				<li>
					<a href="{% url 'gallery' page=pictures.previous_page_number sort=sort %}"> << </a>
				</li>
			{% endif %}
			{% if pictures.paginator.num_pages > 1%}
				{% for num in pictures.paginator.page_range %}
					{% if pictures.number == num %}
						<li class="active"> <a href="" > {{num}}</a> </li>
					{% else %}
						<li> <a href="{% url 'gallery' page=num sort=sort %}"> {{ num }} </a> </li>
					{% endif %}
				{% endfor %}
				{% if pictures.number != pictures.paginator.num_pages %}
					<li>
						<a href="{% url 'gallery' page=pictures.next_page_number sort=sort %}"> >> </a>
					</li>
				{% endif %}
			{% endif %}

		</ul>
	</div>
</div>
{% endblock %}