{% extends "base/newbase.html" %}
{% block content %}

<h1>Gallery</h1>

{% for picture in pics %}

<div>
	<img src="{{ picture.pic.url }}" alt="{{ picture.pic.url}}" />
	<article> Description: {{ picture.description }} </article>
	<article> uploaded by: {{ picture.user }} </article>
    
    {% for conversation in conversations %}
    	{% if conversation.picture.id == picture.id %}
    		<p><a href="/convos/{{ conversation.id }}" > Comments </a></p> 
    	{% endif %}
    {% endfor %}

</div>

{% endfor %}

{% endblock %}