<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
	var send_json = 
	function()
	{
		$.ajax({
			type: "POST",
			url: 'file_upload/upload',
			data:{
				user: 'frickfrackpattywhakgiveadogabone',
				other: 'unimportnat nonsense',
				// csrfmiddlewaretoken: '{{ csrf_token }}'
			},
			success: function(response){
				alert(response);
			}
		})
	}

	setInterval(send_json, 5000);

})



</script>

</head>

<body>
 	<div> </div>
</body>
</html>