
{% extends "base/newbase.html" %}
{% block content %}



<div id="map" class="col-md-6 col-md-offset-3" style="height:500px"> </div>


 <script>
      function initMap() {
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 46.72977, lng: -117.181738},
          zoom: 6
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap"
        async defer></script>

<script>
	$(document).ready(function(){

		$("#map").click(function(){
			window.location.href ="{% url 'about'%}";
		});
	});
</script>
{% endblock %}