{% extends "base/newbase.html" %}
{% block content %}
<form action="{% url "index" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>{{ form.non_field_errors }}</p>
        <p>{{ form.pic.label_tag }} </p>
        <p>
                {{ form.pic.errors }}
                {{ form.pic }}
        </p>
        <p> {{ form.vr.label_tag}} </p>
        <p> 
        	{{ form.vr.errors}} 
        	{{ form.vr }}
        </p>
        <p> {{ form.location.label_tag }} </p>
        <p> 
                {{ form.location.errors}} 
                {{ form.location }}
        </p>

        <p><input type="submit" value="Upload" /></p>
</form>
{% endblock %}