{% extends "base/newbase.html" %}
{% block airpact-content %}

<div id="slideshow" class="carousel slide col-md-6 col-md-offset-3 " data-ride="carousel">
	<ol class="carousel-indicators">
	    <li data-target="#slideshow" data-slide-to="0" class="active"></li>
	    <li data-target="#slideshow" data-slide-to="1"></li>
	    <li data-target="#slideshow" data-slide-to="2"></li>
	    <li data-target="#slideshow" data-slide-to="3"></li>
  	</ol>

  	<div class="carousel-inner" role="listbox">
	    <div class="item active">
	      <img src="{{ newestPictures.0.pic.url }}" style="height: 300px"> 
	    </div>

	    <div class="item">
	      <img src="{{ newestPictures.1.pic.url }}" style="height: 300px">
	    </div>

	    <div class="item">
	      <img src="{{ newestPictures.2.pic.url }}" style="height: 300px">
	    </div>

	    <div class="item">
	      <img src="{{ newestPictures.3.pic.url }}" style="height: 300px">
	    </div>
	</div>

	<a class="left carousel-control" href="#slideshow" role="button" data-slide="prev">
    	<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  	</a>
  	<a class="right carousel-control" href="#slideshow" role="button" data-slide="next">
    	<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </a>
</div>
<div class="clearfix col-md-6 col-md-offset-3">
above is our most recent photos, uploaded by our members!
</div>






	<div class="col-lg-12">
		<h2 class="col-lg-12 "> What is the AIRPACT Project? </h2>
			<p class= "col-lg-12 "> 
				The  Laboratory  For  Atmospheric  Research  (LAR)  has  been developing  the AIRPACT air-quality forecasting system since 2000.  AIRPACT is an operational modeling system, running nightly, forecasting air quality, including PM2.5, on an hourly time step on a 4-km grid.  This system uses numerical weather forecasts and  estimates  of  emissions  of  pollutants,  along  with  boundary  and  initial conditions  for  air  chemistry  (air  quality)  to  run  the  Community  Multi-scale  Air Quality model, CMAQ.  AIRPACT simulates the evolution of the atmosphere due to meteorology, emissions, pollutant production and removal processes and the influences of initial and boundary conditions.  The current AIRPACT domain, 258 cells  East-West  by  285  cells  North-South,  covers  the  Pacific  and  Inland Northwest  region  of  Idaho,  Oregon  and Washington.    AIRPACT-4  is  currently operational; AIRPACT-5 is being tested to replace it.
			</p>
		<h2 class="col-lg-12 "> What is AIRPACT-Fire </h2>
			<p class= "col-lg-12 "> 
				AIRPACT-Fire:    JFSP  is  funding  a  new  project  led  by  LAR  to:  1)  improve AIRPACT wildfire emissions, 2) improve communication of air-quality forecasts including  wildfire  smoke  effects,  and  3)  to  explore  the  potential  utility  of  using visual range estimates to specify air quality in terms of AQI. 
			</p>
		<h2 class="col-lg-12 "> What is visual range? </h2>
			<p class= "col-lg-12 "> 
				Visual range(VR) is a measure of the visibility of distant objects, which can be estimated by an observer by taking a high contrast target at a known distance and finding the distance at which it completely disappears, such as a mountain in the distance when compared to the blue sky in the background.
			</p>
			 
		<h2 class="col-lg-12 ">Why is this important?</h2>
			<p class= "col-lg-12 "> 
				This VR gives us the amount of fine particulate matter in the air that has an adverse effect on public health, produced by air pollution such as that from fire. This tells us whether the air is hazardous which is vital in informing the population who may be affected. 
			</p>
		<h2 class="col-lg-12"> How can you help?</h2>
			<p class= "col-lg-12"> 
				By downloading and using our associated application you can help compile the needed data to find this VR. Simply take a picture of a mountain in the distance and drag the circles to the correct contrasting locations. The application will automatically send the picture to this website along with the associated information and calculate the VR.
				Other tools in this website
				At the left you can access the gallery where everyone’s pictures are uploaded, as well as access the manual upload button if you need to upload a picture manually. You can access the user panel at the top by clicking your username, and edit or delete your pictures from there as well.
			</p>
	</div>

{% endblock %}