
{% extends "base/newbase.html" %}
{% block airpact-content %}
<div class="col-md-7 col-md-offset-2">
<table class="table table-striped adminTable">
   <tr>
    <th> User Name </th>
    <th> Make Certified</th> 
    <th> Make Admin</th>
    <th> Delete</th>
  </tr>
  
  {% for u in nusers %}
  <tr>
    <td><strong>{{ u.username }}</strong></td>

    <td>
    {% if u.is_certified == False %}
	<form action = "{% url "adminPage" %}" method = "POST"> 
		<input type="hidden" name="the_type" value="certify">
		<input type="hidden" name="ourUser" value="{{ u.username }}"> 
		<input type="submit" class="btn btn-primary" value="Make Certified">
	</form>
	{% else %}

	<form action = "{% url "adminPage" %}" method = "POST"> 
		<input type="hidden" name="the_type" value="uncertify">
		<input type="hidden" name="ourUser" value="{{ u.username }}"> 
		<input type="submit" class="btn btn-warning" value="Make Uncertified">
	</form>
	{% endif %}
    </td>

    <td>
    {% if u.is_custom_admin == False %}
	<form action = "{% url "adminPage" %}" method = "POST"> 
		<input type="hidden" name="the_type" value="make_admin">
		<input type="hidden" name="ourUser" value="{{ u.username }}"> 
		<input type="submit" class="btn btn-primary" value="Make Admin">
	</form>
	{% else %}

	<form action = "{% url "adminPage" %}" method = "POST"> 
		<input type="hidden" name="the_type" value="unmake_admin">
		<input type="hidden" name="ourUser" value="{{ u.username }}"> 
		<input type="submit" class="btn btn-warning" value="Demote From Admin">
	</form>
	{% endif %}	
    </td>

     <td>
    
	<form action = "{% url "adminPage" %}" method = "POST"> 
		<input type="hidden" name="the_type" value="delete">
		<input type="hidden" name="ourUser" value="{{ u.username }}"> 
		<input type="submit" onclick="return confirm('Are you sure you wish to delete user?')" class="btn btn-danger" value="Delete User">
	</form>

    </td>

  </tr>
  {% endfor %}

</table>
</div>
{% endblock %}