{% extends "base/newbase.html" %}
{% block content %}

<h2 class="col-md-12 col-lg-12"> Android APK</h2>
	<p class="col-lg-12"> Latest version: <a href="/static/apk/airpact-v.6.apk"> V0.6 </a> </p>
	<div class="col-lg-4">
		<table class="table">
			<thead>
				<th> Version </th>
				<th> Download </th>
			</thead>
			<tr>
				<td> V0.6</td>
				<td> <a href="/static/apk/airpact-v.6.apk"> Link </a> </td> 
			<tr>
			 	<td> V0.5 </td>
			 	<td> <a href="/static/apk/airpact-v.5.apk"> Link </a> </td>
			 </tr>

		</table>
	</div>
<h2 class="col-md-12 col-lg-12"> Manual </h2>
	<p class="col-md-12"> <a href="/static/manual/V0.6.pdf"> Download Link </a></p>
<!-- 	<div class="col-lg-4">
		<table class="table">
			<thead>
				<th> Version </th>
				<th> Download </th>
			</thead>
			<tr>
			 	<td> V0.5 </td>
			 	<td> <a href="/static/manual/V0.6.pdf"> Link </a> </td>
			 </tr>

		</table>
	</div> -->


{% endblock %}