
{% extends "base/newbase.html" %}
{% block content %}



<div id="map" class="col-md-6 col-md-offset-3 well well-lg" style="height:500px"> </div>


 <script>
    var pictures = [];
    var markerList = [];
    var infoWindow;
    {% for picture in newestPictures %}
     pictures.push(new picture ("{{picture.thumbnail.url}}", {{picture.geoX}},{{picture.geoY}}, ""));
    {% endfor %}

    function picture(thumbnailUrl, lat, long, location)
    {
      this.thumbnailUrl = thumbnailUrl;
      this.lat = lat;
      this.long = long;
      this.location = location;
    }

      function initMap() {
        infoWindow = new google.maps.InfoWindow({ content: "hello" });
        var mapDiv = document.getElementById('map');
        var map = new google.maps.Map(mapDiv, {
          center: {lat: 46.7298, lng: -117.181738},
          zoom: 7
        });

        for(i=0; i < pictures.length; i++)
        {
          markerList.push(new google.maps.Marker({
            map:map,
            draggable:false,
            animation: google.maps.Animation.DROP,
            position:{lat:pictures[i].lat, lng:pictures[i].long},
          })
          );
          google.maps.event.addListener(markerList[i], 'click', function(){
           infoWindow.setPosition(this.getPosition());
           infoWindow.setContent('<p>Location: ' + this.getPosition() + '</p>');
           infoWindow.open(map);

          });
        }
      }


    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCp587g3ut0dYnLfl2gfeWTc0fAxujtVcw&callback=initMap"></script>


<!-- <script>
	$(document).ready(function(){

		$("#map").click(function(){
			window.location.href ="{% url 'main'%}";
		});
		// get last 8 hours

	});


</script> -->
{% endblock %}