.thumb{
	height: 300px;
	min-height: 300px;
	max-height: 300px;
}

#rcorners1 {
    border-radius: 25px;
    background: #00CD21;
    padding: 20px;

}

.commentRow {
    line-height:24pt;
   /* border: solid 1px black;*/
   /* border-radius: 25px;*/
    background: #faf8f3;
    padding: 10px;
}

.commentRow2 {
    line-height:24pt;
  /*  border: solid 1px black;*/
   /* border-radius: 25px;*/
    background: #e7e9ea;
    padding: 10px;
}





textarea#id_comment {height:50px; }

