/* AIRPCTFIRE/STATIC*/
body{
  background-color: #e5e5e5;
  width:100%;
  height: 100%;
}

.thumb{
	height: 300px;
	min-height: 300px;
	max-height: 300px;
}

.adminTable{
   width: 800px;
   height: 60px;
   border-spacing: 2px;
   border-collapse: collapse;

}

.adminTable th, td{
  text-align: left;
}

.adminTable th {
    background-color: #981e32;
    color: white;
    height: 40px;
}

.adminButton {
   color:#0000FF;
   background-color: transparent;
   font-weight: bold;
   border: none;
   outline:none;
}

.adminButton2 {
   color:#FF0000;
   background-color: transparent;
   font-weight: bold;
   border: none;
   outline:none;
}

#rcorners1 {
    border-radius: 25px;
    background: #00CD21;
    padding: 20px;

}
.comment-header{
  font-size: 8pt;
  
}
.commentRow {
    line-height:12pt;
   /* border: solid 1px black;*/
   /* border-radius: 25px;*/
    background: #faf8f3;
    padding: 10px;
}

.commentRow2 {
    line-height:12pt;
  /*  border: solid 1px black;*/
   /* border-radius: 25px;*/
    background: #e7e9ea;
    padding: 10px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}


#overlay
{
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #000;
  opacity: .8;
  filter: alpha(opacity=80);
  -moz-opacity: .8;
   z-index: 100;
   display: none;

}

.slideShowContainer{
    min-width: 80%;
    min-height: 80%;
    max-width: 80%;
    max-height: 80%;
    /*border: 1px solid Black;*/
    background-color: #000;
    text-align: left;
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    z-index:101;
/*    background-size:contain; 
    background-repeat:   no-repeat;
    background-position: center center;*/
    display: none;

}
#slideShowMainPicture{
  position: absolute;
  width: 100%;
  height: 100%;
  background-size:contain; 
  background-repeat:   no-repeat;
  background-position: center center;

}

#slideShowBottomInfoPanel{
  position:absolute;
  bottom:0;
  height: 12%;
  width: 100%;
  color:#FFF;
  background: rgb(0,0,0);
  background: rgba(0,0,0,.7);
  -moz-opacity: .5;
}

#slideShowBottomInforPanel{
  font-size: 16px;
  font-weight: bold;
}

#slideShowLeftNavArrow{
  width:64px;
  height: 100px;
  margin-left: 10px;
  opacity: .7;
  position: absolute;
  top:40%;
  cursor: pointer;
  background-image: url("/static/media/slideShowArrows/left-arrow.png");
}
#slideShowRightNavArrow{
  width:64px;
  height: 100px;
  opacity: .7;
  margin-right: 10px;
  position: absolute;
  top:40%;
  right:0;
  cursor:pointer;
  background-image: url("/static/media/slideShowArrows/right-arrow.png");
}

#mainPicture:hover{
  cursor: pointer;
}

#timelineContainer{
/*  height: 50px;
  min-height: 50px;*/
}
#timelineLeftArrow
{
  width:45px;
  height: 65px;
  background-image: url("/media/slideShowArrows/left-arrow.png");
  background-size: contain;
  background-repeat:   no-repeat;
  background-position: center center;
}
#timelineRightArrow
{
  width:45px;
  height: 65px;
  background-size: contain;
  background-image: url("/media/slideShowArrows/right-arrow.png");
  background-repeat:   no-repeat;
  background-position: center center;
}
textarea#id_comment {height:50px; }

.nav li a{
  padding-top: 2px;
  padding-bottom: 2px;

}

.heading
{

}
.logo
{

}