<!DOCTYPE html>
<html>
        <head>
                <meta charset="utf-8">
                <title>uploading picturds</title>
        </head>

        <body>
                <!-- List of uploaded documents -->
                {% if pics %}
                        <ul>
                        {% for picture in pics %}
                                <li>
                                <img src="{{ picture.pic.url }}" alt="{{ picture.pic.url}}">
                                </li>

                                {% for conversation in conversations %}
                                        {{ conversation.id }}
                                        {% if conversation.picture.id == picture.id %}
                                                <p><a href="/convos/{{ conversation.id }}" > Comments </a></p> 
                                        {% endif }
                                {% endfor %}

                        {% endfor %}
                        </ul>
                {% else %}
                        <p>No images.</p>
                {% endif %}

                <!-- Upload form. Note enctype attribute! -->
                <form action="{% url "index" %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>{{ form.non_field_errors }}</p>
                        <p>{{ form.pic.label_tag }} </p>
                        <p>
                                {{ form.pic.errors }}
                                {{ form.pic }}
                        </p>
                        <p><input type="submit" value="Upload" /></p>
                </form>

        </body>

</html>